[Desktop Entry]
Type=Application
Name=AHKUnix
Comment=Run AHKUnix .ahkl script
Exec=ahkunix-open %f
Terminal=true
MimeType=application/x-ahkunix;
Categories=Utility;
NoDisplay=false
